#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

build:
	$(eval PATH := /usr/lib/go-1.23/bin:$(PATH))
	$(eval HOME := $(CURDIR))
	export HOME="$(CURDIR)"
	@echo "HOME = $(HOME)"
	export GOENV='off'
	export GO111MODULE='off'
	export GOPATH="./gopath"
	export GOMODCACHE='./gomod'
	export GOTMPDIR="./gotemp"
	export GOTOOLCHAIN="local" 
	export GOFLAGS="-mod=vendor"
	make build
	if [ ! -z "$(TMP)" ] ; then rm -rf "$(TMP)" ; fi
	@echo 'Running bash completion generation'
	./cmd/ipfs/ipfs commands completion bash > ./debian/ipfs-kubo.bash-completion

binary-arch: build

%:
	dh $@ --with bash-completion

override_dh_builddeb:
	dh_builddeb -- -Zgzip

override_dh_auto_test:
	@echo 'DH_AUTO_TEST overridden'

override_dh_dwz:
	@echo 'DH_DWZ overridden'

override_dh_auto_clean:
	@echo 'DH_AUTO_CLEAN overridden'
	rm -f ./cmd/ipfs/ipfs

override_dh_auto_install:
	@echo 'DH_AUTO_INSTALL overridden'

override_dh_installsystemd:
	dh_installsystemd --name=ipfs ipfs.service

